body {
	box-sizing: content-box;
	margin: 0;
	background-color: whitesmoke;
	font-family: sans-serif;
}

i {
	color: #606060;
}

iframe {
	width: 100vw;
	height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
	background: red;
}



.grid-container {
	width: auto;
	padding-top: 5rem;
	padding-left: 1.5rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 0rem;
}

.small-grid {
	top:0
	width: auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 3.5fr 1fr;
}

#videotitle {
	font-size: 30px;
	margin-bottom: 1rem;
}

.description {
	padding-top: 48%;
	font-size: 20px;
}

#account_icon {
	display: grid;
	font-size:60px;
	grid-template-columns: 1;
	align-content: center;
	justify-content: center;
}
.account {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap:0;

}

.mainvideo {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56%;
}

.mainvideo iframe {
	position: absolute;
	width: 90%;
	height: 90%;
	margin-left: 0;
	margin-top: 0;
}



.navbar {
	background-color: white;
	display: flex;
	font-size: 30px;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navElement {
	display: flex;
	padding: 5px;
}

.logo {
	height: 3rem;
	padding-left: 1rem;
}

.thumbnail {
	display: block;
	margin: 2%;
}

.notification {
	/* padding-top: 0.25rem; */
	display: flex;
	padding-right: 1.5rem;
	font-size: 1.2rem;
	align-items: center;
}

.search {
	width: 100%;
	position: relative;
	display: flex;
}

.searchTerm {
	width: 100%;
	border: 1px solid #aaa;
	border-right: none;
	padding: 5px 5px 5px 15px;
	height: 20px;
	border-radius: 2px 0 0 2px;
}

.searchTerm:focus {
	color: #141414;
}

.searchButton {
	width: 75px;
	height: 32px;
	border: 1px solid #aaa;
	background: #eee;
	text-align: center;
	color: #fff;
	border-radius: 0 1px 1px 0;
	cursor: pointer;
	font-size: 15px;
}

.wrap {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#search {
	width: 30rem;
}

#hamburger {
	/* padding-top: 0.82rem; */
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	padding-left: 1rem;
}
