body
{
background-color: blue;
 }

.navbar
{
  display: inline-block;
  font-size:60px;
  padding: 10px;
}
.icon
{
  height: 8%;
  width: 8%;
}
.grid-container
{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.thumbnail
{
  display:block;
  margin:2%;
}
