body {
	box-sizing: content-box;
	margin: 0;
	background-color: whitesmoke;
}

form {
	width: 100%;
	box-sizing: border-box;
}

input {
	width: 80%;
	margin: auto;
}

.navbar {
	background-color:white;
	display: flex;
	font-size: 30px;
	justify-content: space-between;
}

.navElement {
	display: flex;
	padding: 5px;
}

.icon {
	height: 3rem;
	padding-left: 1rem;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.thumbnail {
	display: block;
	margin: 2%;
}

.notification {
	padding-top: 0.25rem;
	padding-right: 1.5rem;
}

#search {
	width: 30rem;
}
